@using System;
@using System.Threading.Tasks;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Menu;
@attribute [StyleSheet]
@namespace TFS2.Menu
@implements Sandbox.Menu.ILoadingScreenPanel

<root class="loadingpanel">

    @if (!string.IsNullOrEmpty(Game.Menu.Lobby?.Map))
    {
        <div class="description">You are on your way to...</div>
        <div class="title">@GetMapNameOnly()</div>
        <div class="subtitle">@GetGamemode()</div>
    }
    else
    {
        <div class="title">LOADING</div>
    }

    @if (mapScreenshot != null)
    {
        <div class="mapthumb" style="background-image: url(@(mapScreenshot.Url));" />
    }

    <div class="controls">
        <div class="title">@(Progress.Title)...</div>
        @if(Progress.Fraction > 0)
        {
        <div class="progress">
            <div class="bar" style="width: @(Progress.Percent)%;"></div>
            <div class="text-left">@(Progress.Percent.ToString("0") )%</div>
            <div class="text-right"><span>@(Progress.Mbps.ToString("0"))</span><span class="unit">Mbps</span></div>
        </div>
        }
        <div class="button" onclick="@Game.Menu.CancelLoading">
            Cancel
        </div>
    </div>

</root>

@code
{
    public LoadingProgress Progress;
    private Package mapPackage;
    private Package.Screenshot mapScreenshot;

    public void OnLoadingProgress(LoadingProgress progress)
    {
        Progress = progress;
        StateHasChanged();
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (string.IsNullOrEmpty(Game.Menu.Lobby?.Map)) return;

        if(mapPackage == default || mapPackage.FullIdent != Game.Menu.Lobby.Map)
        {
            _ = FetchMap();
        }
    }

    private async Task FetchMap()
    {
        string mapName = Game.Menu.Lobby.Map;
        mapPackage = await Package.FetchAsync(mapName, false);
        if (mapPackage == null) return;

        mapScreenshot = mapPackage.Screenshots.FirstOrDefault();
    }
    

    private string GetMapName()
    {
        return Game.Menu.Lobby?.Map?.Split('.')?.Last();
    }

    private string GetMapNameOnly()
    {
        var parts = GetMapName().Split('_');

        if (parts.Length == 0) return string.Empty;
        else if (parts.Length == 1) return parts[0];

        return string.Join(' ', parts.Skip(1));
    }

    private string GetGamemode()
    {
        string mapName = GetMapName();
        if (string.IsNullOrEmpty(mapName)) return "The Void";

        // TODO: DONT HARDCODE THIS

        if (mapName.StartsWith("ctf_"))
            return "Capture the Flag";

        if (mapName.StartsWith("cp_"))
            return "Control Points";

        if (mapName.StartsWith("pl_"))
            return "Payload";

        if (mapName.StartsWith("koth_"))
            return "King of the Hill";

        if (mapName.StartsWith("tdm_"))
            return "Team Deathmatch";

        return string.Empty;
    }
}
